#rss {
  font-size: 10px;
  text-align: center;
  width: 650px;
}
#rss a {
  color: #cccccc;
}
#noticias {
  padding-top: 10px;
}
/* versión móvil */
@media screen and (max-width: 768px) {
  #noticias {
    margin-top: 11%;
    padding-top: 0;
  }
}
