@media screen and (max-width: 768px) {
  /* Total página */

  /* Banner */
  .Cabecera {
    width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .Cabecera img {
    height: 9em;
  }
  /* Menú */
  .Menu {
    width: 100%;
    display: block;
    position: sticky;
    z-index: 1;
    top: 9em;
    border: none;
  }
  .enlaces-menu {
    display: none;
    flex-direction: column;
    opacity: 0;
  }
  @keyframes muestraMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .enlaces-menu li {
    float: none;
  }

  .enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
  }
  /* Botón menú */
  .ham {
    display: block;

    margin-left: 3px;
    transition: 0.3s 0.2s;
  }
  .ham:hover {
    transform: rotate(360deg);
  }
  /* Animación botón */
  .br-1.animado {
    transform: rotate(-45deg) translate(-5px, 8px);
  }
  .br-2.animado {
    opacity: 0;
  }
  .br-3.animado {
    transform: rotate(45deg) translate(-5px, -8px);
  }
  /* Reloj */
  #capareloj {
    position: absolute;
    top: 1em;
    right: 0.5em;
  }
  /* Aside */
  .buscador {
    display: inline-block;
    position: absolute;
    right: 1em;
    left: 1em;
    top: 0.4em;
    width: auto;
  }
  .audio {
    display: none;
  }
  .enlaces {
    display: none;
  }
  /* contenedor página */
  .contenedor {
    width: 100%;
  }
  .izquierda {
    width: 100%;
  }
  .titulo_primero {
    margin-top: 3em;
  }
  /* Pie página */
  .Pie {
    width: 99.5%;
  }
}
@media screen and (max-width: 545px) {
  .titulo_primero {
    margin-top: 5em;
  }
}
